{$APP_DOMAIN} {
    encode zstd gzip

    @probes {
        path_regexp ^/\.(env|git|htaccess|htpasswd|bash_history|ssh)
        path /wp-admin* /wp-login.php /phpinfo.php /phpmyadmin* /adminer* /console*
    }
    respond @probes 444

    reverse_proxy app:8080
}
